/*
Color Palette(Darkest to Brightest):
	-#03045e
	-#0077b6
	-#00b4d8
	-#90e0ef
	-#caf8f8

	Possibly an error with different JavaFX  versions?
*/

/*Default styling for all components*/
.buttonMain {
	-fx-background-color:#90e0ef;
	-fx-background-insets: 0 0 0 0;
}

.vbox {
	-fx-background-color: linear-gradient(to bottom right, #caf0f8, #00b4d8)
}

.listview {
	-fx-background-color: rgba(0,0,0,0);
}

.textarea {
	-fx-background-color:rgba(0,0,0,0);
}

.textfield {
	-fx-background-color:rgba(0,0,0,0);
	-fx-border-radius: 3 3 3 3;
	-fx-border-color: black;
}

.list-cell {
	-fx-padding: 3;
	-fx-background-color:rgba(0,0,0,0);
	-fx-background-insets: 0 0 0 0;
}

.list-cell:odd{
	-fx-background-color:rgba(0,0,0,0);
	-fx-padding: 3;
	-fx-background-insets: 0 0 0 0;
}

/*Styling for specific objects by custom ID*/
.transparent {
	-fx-background-color:rgba(0,0,0,0);
}

.searchButton {
    -fx-background-radius: 5 0 0 5;
	-fx-background-color:#90e0ef;
	-fx-background-insets: 0 0 0 0;
}

.searchBar {
	-fx-background-radius: 0 5 5 0;
	-fx-background-color:#90e0ef;
	-fx-background-insets: 0 0 0 0;
}

.hyperlink {
	-fx-text-fill: #03045e;
}

.elementView {
	-fx-padding: 5;
	-fx-background-color:linear-gradient(to bottom right, #00afff, #0077b6);/*this doesn't work*/
	-fx-background-insets: 0 0 0 0;
	-fx-background-radius:10 10 10 10;
	-fx-border-radius: 10 10 10 10;
	-fx-border-color: black;
}